<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Announcements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (announcements.length === 0) {
    <p>No announcements yet.</p>
  } @else {
    <ion-list>
      @for (a of announcements; track a.id) {
        <ion-item>
          <ion-label>
            <h2>{{ a.title }}</h2>
            <p>{{ a.content }}</p>
            <p class="meta">By {{ a.author.firstName }} {{ a.author.lastName }} · {{ a.createdAt | date:'mediumDate' }}</p>
          </ion-label>
        </ion-item>
      }
    </ion-list>
  }

  @if (canCreate) {
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/announcements/new">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  }
</ion-content>
