<ion-content>
  <div class="login-wrapper">
    <div class="auth-container">
      <div class="app-branding">
        <img src="assets/logos/FTM Logo_colored.png" alt="First Touch Ministry" class="login-logo" />
      </div>
      <p class="auth-description">Sign in to your account</p>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <ion-item>
          <ion-input
            type="email"
            formControlName="email"
            label="Email"
            labelPlacement="floating"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            type="password"
            formControlName="password"
            label="Password"
            labelPlacement="floating"
          ></ion-input>
        </ion-item>

        <ion-button
          expand="block"
          type="submit"
          [disabled]="loginForm.invalid || isLoading"
          class="auth-btn"
        >
          @if (isLoading) {
            <ion-spinner name="crescent"></ion-spinner>
          } @else {
            Sign In
          }
        </ion-button>
      </form>

      <div class="auth-link">
        <span>Don't have an account?</span>
        <a routerLink="/register">Register</a>
      </div>
    </div>
  </div>
</ion-content>
